{% extends "structure.html" %}
{% block content %}
    {% if guild %}
        <h1>{% include "partials/guild_name.html" %}</h1>

        <h3>Claim History</h3>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Updated</th>
                    <th>Duration</th>
                    <th>Map</th>
                    <th>Objective</th>
                </tr>
            </thead>
            <tbody>
                {% for claim in guild.get_claims() %}
                    <tr>
                        <td>{{ claim.updated }}</td>
                        <td>{{ claim.duration }}</td>
                        <td>{{ claim.get_map_name() }}</td>
                        <td>{{ claim.objective.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>World History</h3>
        <table>
            <thead>
                <tr>
                    <th>World</th>
                    <th>Last Seen</th>
                </tr>
            </thead>
            <tbody>
                {% for migration in guild.get_migrations() %}
                    <tr>
                        <td><a href="{{ url_for('worlds', world_id=migration.world.id) }}">{{ migration.world.name }}</a></td>
                        <td>{{ migration.updated }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif guilds %}
        <ul>
            {% for guild in guilds %}
                <li><a href="{{ url_for('guilds', guild_id=guild.id) }}">{% include "partials/guild_name.html" %}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
