{% extends "base.html" %}
{% block content %}
    <h1>Match {{ match.wvw_match_id }}</h1>
    <p>
        <a href="{{ url_for('world', world_id=match.red_world.id) }}" style="color: red;">{{ match.red_world.name }}</a>
         - vs -
        <a href="{{ url_for('world', world_id=match.blue_world.id) }}" style="color: blue;">{{ match.blue_world.name }}</a>
         - vs -
        <a href="{{ url_for('world', world_id=match.green_world.id) }}" style="color: green;">{{ match.green_world.name }}</a>
    </p>
{% endblock %}